@charset "UTF-8";

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'Uniqlo';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'Uniqlo Light';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'Uniqlo Bold';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.ttf") format("truetype");
}




@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'UniqloProRegular';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'UniqloProLight';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'UniqloProBold';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.otf") format("opentype");
}



@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'fzlt_bold';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'fzlt_light';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.ttf") format("truetype");
}


@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'fzlt_pro';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'Uniqlo';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqloregular-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'Uniqlo Light';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlolight-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'Uniqlo Bold';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/uniqlobold-webfont.ttf") format("truetype");
}




@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'UniqloProRegular';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProRegular-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'UniqloProLight';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProLight-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'UniqloProBold';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/UniqloProBold-webfont.otf") format("opentype");
}



@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'fzlt_bold';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_bold-webfont.ttf") format("truetype");
}

@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'fzlt_light';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_light-webfont.ttf") format("truetype");
}


@font-face {
  /* iOS, Android用 */
  font-weight: normal;
  /* 念の為指定しておきます */
  font-style: normal;
  font-family: 'fzlt_pro';
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.eot");
  /* IE9以上用 */
  src: url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.woff") format("woff"), url("https://www.uniqlo.cn/public/bin/Font-fzlt/fzlt_pro-webfont.ttf") format("truetype");
}
